a {
    text-decoration: none;
    color: #fece;
}

.altTitle {
    display: none;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 25px;
    width: fit-content;
}

.aboutContent h2 {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 25px;
}

.aboutContent p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.aboutContent ul li {
    padding-top: 18px;
    padding-bottom: 14px;
    list-style-type: disc;
}

.underlined {
    display: inline-block;
    border-bottom: 5px solid #a48d07;
    padding-bottom: 5px;
}

.aboutContent ul li::marker {
    font-size: 30px;
    color: #a48d07;
}

.last {
    padding-bottom: 22px;
}

.exploreCards {
    width: 680px;
    height: 83px;
    background-color: #0D151C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.pointers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
    align-items: center;
    padding: 47px 15px;
    margin-bottom: 120px;
}

/* .arrowRight {
    font-size: 24px;
    color: #fece;
    width: 40px;
    height: 45px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 */
@media (max-width:970px) {
    .pointers {
        margin-bottom: 0;
    }
}

@media (max-width:800px) {
    .exploreCards {
        width: 440px;
    }

    .altTitle {
        display: block;
    }

    .mainTitle {
        display: none;
    }
}

@media (max-width:680px) {
    .exploreCards {
        width: 340px;
    }
}

@media (max-width:450px) {
    .exploreCards {
        width: 320px;
    }
}

@media (max-width:320px) {
    .exploreCards {
        width: 280px;
    }
}