
.admin-container {
    width: 100%;
    height: 100%;
    margin-bottom: 220px;
  }

  .admin-containerHeading{
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #0D151C;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .error-message {
    color: red;
  }
  
  .forgot-password {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  
  /* Forms */
  .Pform-container {
    margin-top: 20px;
  }
  
  .Pform-container input,
  .Pform-container textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
  }
  .Pform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Pform-container label{
    padding-top: 25px;
    margin-left: 22px;
    color: #fece;

}

.Pform-container input, textarea{
    width: 600px;
    height: 56px;
    background-color: #0D151C;
    border: 1px solid #887a2b;
    border-radius: 15px;
    color: #fece;
    padding-left: 16px;
}

.pointerContainer{
  margin-top: 55px;
}

.custom-editor {
  /* width: 100%; */
  max-width: 600px;
}

@media (max-width:425px) {
  .Pform-container .formField input{
      width:285px
  }

  .Pform-container .formField textarea{
      width: 285px;
  }
  .Pform-container .custom-editor{
    width: 285px;
  }
}


@media (max-width:460px) {
  .Welcome-msg{
    text-align: center;
  }
}
@media (max-width:680px) {
  .Pform-container input{
      width: 380px;
  }
  
  .formField textarea{
      width: 380px;
  }
  .formField input{
      width: 380px;
   }

   .custom-editor{
    width: 380px;
   }

   .admin-container{
    margin-bottom: 8px;
   }

}


