.archiveCards{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 220px;
    width: 100%;
}

.subCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 46px;
}

.subCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-image-source: linear-gradient(25deg,#efce, #a48d07,#0d151c);
    border-image-slice: 1;
    border-radius: 5px;
    padding: 22px;
    width: 320px;
    overflow: hidden;

}
.archDate{
display: flex;
justify-content: center;
align-items: center;
margin:12px 0;
margin-right: 38px;

}

@media(max-width:1048px){
    .archiveCards{
        margin-bottom: 12px;
    }
}

@media (max-width: 380px){
    .subCard{
        width: 290px;
        padding: 28px;
    }
}