.office{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.5;
}
.officeContent{
    padding: 12px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Map{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #fece;
    border-radius: 15px;
    overflow: hidden;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.underlined{
    display: inline-block;
    justify-content: center;
    padding-top: 25px;
    padding-right: 5px;
    border-bottom: 5px solid #a48d07;
}
.contactForm, reviewForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactForm label{
    padding-top: 25px;
}
.revForm label, select{
    margin-top:25px;
}

.contactForm input, textarea, .revForm input, textarea{
    width: 600px;
    height: 56px;
    background-color: #0D151C;
    border: 1px solid #887a2b;
    border-radius: 15px;
    color: #fece;
    padding-left: 16px;
}

.revForm select{
    width:280px;
    background-color:#0D151C;
    height:56px;
    padding-left:16px;
    border: 1px solid #887a2b;
    border-radius:15px;
    color:#887a2b;
}
.charCount{
    padding-left:12px;
}
.formField textarea{
    height: 120px;
    padding-top: 8px;
}
.contactForm label, .revForm label{
    margin-left: 22px;
    color: #fece;
}
.contactForm input::placeholder, .revForm textarea::placeholder{
    padding-left: 16px;
    color: #887a2b;
}
.contactForm input:active, .revForm select:active{
    background-color: #0D151C;
    border: 1px solid #887a2b;
}
.formField{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btnContainer{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnContainer button{
    width: 125px;
    height: 64px;
    background-color: #a48d07;
    border-color: #a48d07;
    border-radius: 8px;
    color: #fece;

}
.successMsg{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 18px;
    color: #a48d07;
}

.form h2{
    padding-bottom: 22px;
}

.revForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding-bottom:200px;
}

@media (max-width:425px) {
    .contactForm .formField input, .revForm .formField select{
        width:285px
    }

    .contactForm .formField textarea, .revForm .formField textarea{
        width: 285px;
    }
}


@media (max-width:450px) {
    .office{
        width:300px;
    }

}


@media (max-width:680px) {
    .contactForm input, .revForm select{
        width: 380px;
    }
    
    .formField textarea, .revForm textarea{
        width: 380px;
    }

    
}

@media (max-width:1024px){
    .revForm{
        padding-bottom:0;
    }

}