.manageAll-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    margin-bottom: 220px;
    position: relative;
}

.alt-ContainerHeading{
    display: none;
}

.properties-section, .publications-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 32px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    
}
.ED-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    font-size: 32px;
    margin-top: 34px;
    
}

.ED-btns .delete{
    color:#FF0000;
}
.Ma-Card{
    height: 420px;
}
.Card{
    gap: 22px;
}
.title{
    text-align: center;
}
.btn-container{
    margin: 5px;;
}

.Save{
    margin-top: 5px;
    width: 108px;
    padding: 10px 10px;
    background-color: #a48d07;
    border-radius: 15px;
}

.edit-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .manageForm-modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .manageForm-modal label{
    color: #000000;
  }

.closeBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 26px;
    font-size: 32px;
    cursor: pointer;
}
@media (max-width:650px ) {
.admin-containerHeading{
    display: none;
}
.alt-ContainerHeading{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 56px;

}
}


@media (max-width:350px) {
    .Card{
        width: fit-content;
        margin: 0 8px;
    }
}
