.propContainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 220px;
    gap: 18px;

}

.propCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.offerBtn:hover{
    background-color: #efce;
    border: 1px solid #efce;
    color: #0D151C;
}

.propImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 18px;
    padding:18px;
}
.propImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    max-width: 300px;
    max-height: 300px;
}

@media (max-width:1024px) {
    .propContainer{
        margin-bottom: 80px;
    }
}