.pubContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 220px;
    gap: 15px;
}

.pubCard{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    width: 600px;
    height: fit-content;
    /* background-color: #0D151C; */
    background-image: url('../assets/pubImage.jpg');
    /* background-position: center; */
    background-size: cover;
    border: 1 px solid #0D151C;
    border-radius: 8px;
    padding: 0px 22px;
    box-sizing: border-box;
}

.introCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.Title{
    padding-top: 25px;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
   
}
.details{
    display: flexbox;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    position: absolute;
    left:0px;
}
.MoreBtn:hover{
    border: 1px solid #efce;
}

@media (max-width:640px) {
    .pubCard{
        width: 520px;
    }
}
@media (max-width:560px) {
    .pubCard{
        width: 480px;
    }
}
@media(max-width:500px){
    .pubCard{
        width:420px;
    }
}
@media(max-width:450px){
    .pubCard{
        width: 380px;
    }
}
@media(max-width:400px){
    .pubCard{
        width:310px;
    }
}
@media (max-width:320px) {
    .pubCard{
        width: 280px;
    }
}
