.pubContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 220px;
    gap: 15px;
}

.pubCard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 600px;
    height: fit-content;
    background-color: #0D151C;
    /* background-image: url('../assets/pubImage.jpg'); */
    /* background-position: center; */
    background-size: cover;
    border: 1 px solid #0D151C;
    border-radius: 8px;
    padding: 0 8px;
    box-sizing: border-box;
}

.introCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.Title{
    padding-top: 25px;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
   
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 6px;
    list-style-type: none;
    width: fit-content;
}
.date{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.dateIcon{
    font-size: 1.25rem;
    color: #a48d07;
}
.MoreBtn:hover{
    border: 1px solid #efce;
}
.pubContent{
    display: flex;
    justify-content: center;
}

.mainPublication{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    /* background-color: #0D151C; */
    position: relative;
}
article{
    padding: 20px 65px;
    text-align: justify;
}

article h1{
    font-size: 1.6rem;
    padding-top: 65px;
    padding-bottom: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
}

article h2{
    padding-bottom: 15px;
    padding-top: 15px;
}
article p{
    text-align: justify;
}

.mainDetails{
    position: absolute;
    left: 0;
}
.pointerContainer{
    margin-top: 18px;
}
@media (max-width:640px) {
    .pubCard{
        width: 520px;
    }
}
@media (max-width:560px) {
    .pubCard{
        width: 480px;
    }
}
@media(max-width:500px){
    .pubCard{
        width:420px;
    }
    
}
@media(max-width:450px){
    .pubCard{
        width: 380px;
    }
}
@media(max-width:400px){
    .pubCard{
        width:310px;
    }
    .details{
        padding-bottom: 18px;
    }
}
@media (max-width:320px) {
    .pubCard{
        width: 280px;
    }
}
