@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.pubContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 220px;
    gap: 18px;
}

.pubCard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}


.introCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 600px;
    max-width: 320px;
    position: relative;
    background-color: #0D151C;
    border: 1 px solid #0D151C;
    border-radius: 12px;
    padding: 8px 22px;
    overflow: hidden;
}
.Title{
    padding-top: 25px;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
   
}
.Title, .pubContent p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.details{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 6px;
    list-style-type: none;
    width: fit-content;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.date{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.dateIcon{
    font-size: 1.25rem;
    color: #a48d07;
}
.MoreBtn:hover{
    border: 1px solid #efce;
}
.pubContent{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 16px;
}

.mainPublication{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    position: relative;
}

.BackBtn{
    width: 120px;
    background-color: #0D151C;
    color: #efce;
    border: 1px solid #0D151C;
    border-radius: 8px;
    padding: 18px;
    margin-top: 12px;
}
.BackBtn:hover{
    border: 1px solid #a48d07;
    background-color: #a48d07;
}
article{
    padding: 20px 65px;
    text-align: justify;
}

article h1{
    font-size: 1.6rem;
    padding-top: 65px;
    padding-bottom: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
}

article h2{
    padding-bottom: 15px;
    padding-top: 15px;
}
article p{
    text-align: justify;
}

.mainDetails{
    padding-top: 25px;
    position: absolute;
    left: 55px;
}

.pointerContainer{
    margin-top: 18px;
}

@media (max-width:640px) {
    .pubCard{
        width: 520px;
    }
}
@media (max-width:560px) {
    .pubCard{
        width: 480px;
    }
}
@media(max-width:500px){
    .pubCard{
        width:420px;
    }
    article{
        padding: 20px 25px;
    }
    .mainDetails{
        left: 3px;
    }
}
@media(max-width:450px){
    .pubCard{
        width: 380px;
    }
}
@media(max-width:400px){
    .pubCard{
        width:310px;
    }
    .details{
        padding-bottom: 18px;
    }
}
@media (max-width:320px) {
    .pubCard{
        width: 280px;
    }
}
