.searchContainer{
    background-color: #a48d07;
    width: 100%;
    height: fit-content;
    padding: 12px;
}

.searchBar{
    width:80%;
    display: flex;
    justify-content: center;
    height: 8vh;
    padding-left: 55px;
    border-radius: 25px;
    border: 1 px solid #fece;
    margin-top: 8px;
    margin-left: 5%;
    
   
}