.findContainer{
    margin-bottom: 220px;

}

.searchContainer{
    background-color: #a48d07;
    width: 100%;
    height: fit-content;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar{
    width:100%;
    height: 7vh;
    border-radius: 18px;
    border: 1px solid #fece;
    text-align: center;
    line-height: normal;
    
   
}

.searchBar::placeholder{
    text-align: center;
    color: #a48d07;
    letter-spacing: 2px;
}

.search-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 56px;
    padding: 8px;
    border-radius: 4px;
    background-color: #1d1d1d;

}
.no-results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

@media (max-width:1024) {
    .findContainer{
        margin-bottom: 15px;
    }
    .search-item{
        margin: 12px 16px;
    }
}